<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-light fw-bolder fst-italic" href="{{ path('app_home') }}">
            <i class="fa-solid fa-house"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">
                            <strong>Se Connecter</strong>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="{{ path('app_register') }}">
                            <strong>S'inscrire</strong>
                        </a>
                    </li>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link active text-white fw-bolder fst-italic" aria-current="page" href="{{ path('admin') }}">Tableau de Bord</a>
                        </li>
                    {% endif %}
                    <li class="nav-item  fw-bolder fst-italic">
                        <a class="nav-link text-white" href="{{ path('app_blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">
                            <strong>Mon compte</strong>
                        </a>
                    </li>

                    {#<li class="nav-item">
                                                                                        <a class="nav-link text-white" href="#">Link</a>
                                                                                    </li>
                                                                                    <li class="nav-item dropdown">
                                                                                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                            Dropdown
                                                                                        </a>
                                                                                        <ul class="dropdown-menu">
                                                                                            <li>
                                                                                                <a class="dropdown-item" href="#">Action</a>
                                                                                            </li>
                                                                                            <li>
                                                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                                            </li>
                                                                                            <li><hr class="dropdown-divider"></li>
                                                                                            <li>
                                                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link text-white fst-italic" href="{{ path('app_logout') }}">Se Déconnecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
