{% extends 'base.html.twig' %}

{% block title %}Cycles index{% endblock %}

{% block body %}
    <h1>Cycles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cycle in cycles %}
            <tr>
                <td>{{ cycle.id }}</td>
                <td>{{ cycle.designation }}</td>
                <td>{{ cycle.createdAt ? cycle.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cycle.updatedAt ? cycle.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cycle.slug }}</td>
                <td>
                    <a href="{{ path('app_cycles_show', {'id': cycle.id}) }}">show</a>
                    <a href="{{ path('app_cycles_edit', {'id': cycle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cycles_new') }}">Create new</a>
{% endblock %}
