{% extends 'base.html.twig' %}

{% block title %}Scolarites2{% endblock %}

{% block body %}
    <h1>Scolarites2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scolarites2.id }}</td>
            </tr>
            <tr>
                <th>Scolarite</th>
                <td>{{ scolarites2.scolarite }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ scolarites2.createdAt ? scolarites2.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ scolarites2.updatedAt ? scolarites2.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_scolarites2_index') }}">back to list</a>

    <a href="{{ path('app_scolarites2_edit', {'id': scolarites2.id}) }}">edit</a>

    {{ include('scolarites2/_delete_form.html.twig') }}
{% endblock %}
