{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
    <section class="container py-3 my-3">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4 bg bg-primary-subtle">
                <h2 class="text-center fst-italic">Inscription</h2>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                <div class="col-12 mt-1">{{ form_widget(registrationForm.nom, {'attr':{'class':"form-control mt-2 select-nomfamille" }}) }}</div>
                <div class="col-12 mt-1">{{ form_widget(registrationForm.prenom, {'attr':{'class':"form-control mt-2 select-prenom" }}) }}</div>
                <div class="col-12 mt-1">{{ form_widget(registrationForm.username, {'attr':{'class':"form-control mt-2" }}) }}</div>
                <div class="col-12 mt-1">
                    {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
                <div class="col-12 mt-1">{{ form_widget(registrationForm.telephone, {'attr':{'class':"form-control mt-2 fst-italic" }}) }}</div>
                <div class="col-12 mt-1">{{ form_widget(registrationForm.email, {'attr':{'class':"form-control mt-2 fst-italic" }}) }}</div>
                <div class="col-12 mt-1">{{ form_widget(registrationForm.adresse, {'attr':{'class':"form-control mt-2 fst-italic" }}) }}</div>
                <div class="row mt-2">
                    <div class="col-6">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-sm btn-primary">M'inscrire</button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </section>
{% endblock %}
