{% extends 'base.html.twig' %}

{% block title %}FraisScolaires index{% endblock %}

{% block body %}
    <h1>FraisScolaires index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Montant</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for frais_scolaire in frais_scolaires %}
            <tr>
                <td>{{ frais_scolaire.id }}</td>
                <td>{{ frais_scolaire.designation }}</td>
                <td>{{ frais_scolaire.montant }}</td>
                <td>{{ frais_scolaire.createdAt ? frais_scolaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ frais_scolaire.updatedAt ? frais_scolaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_frais_scolaires_show', {'id': frais_scolaire.id}) }}">show</a>
                    <a href="{{ path('app_frais_scolaires_edit', {'id': frais_scolaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_frais_scolaires_new') }}">Create new</a>
{% endblock %}
