{% extends 'base.html.twig' %}

{% block title %}Niveaux index{% endblock %}

{% block body %}
    <h1>Niveaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveauxes %}
            <tr>
                <td>{{ niveau.id }}</td>
                <td>{{ niveau.designation }}</td>
                <td>{{ niveau.createdAt ? niveau.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ niveau.updatedAt ? niveau.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ niveau.slug }}</td>
                <td>
                    <a href="{{ path('app_niveaux_show', {'id': niveau.id}) }}">show</a>
                    <a href="{{ path('app_niveaux_edit', {'id': niveau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_niveaux_new') }}">Create new</a>
{% endblock %}
