{% extends 'base.html.twig' %}

{% block title %}Meres index{% endblock %}

{% block body %}
    <h1>Meres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mere in meres %}
            <tr>
                <td>{{ mere.id }}</td>
                <td>{{ mere.fullname }}</td>
                <td>{{ mere.createdAt ? mere.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mere.updatedAt ? mere.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mere.slug }}</td>
                <td>
                    <a href="{{ path('app_meres_show', {'id': mere.id}) }}">show</a>
                    <a href="{{ path('app_meres_edit', {'id': mere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meres_new') }}">Create new</a>
{% endblock %}
