{% extends 'base.html.twig' %}

{% block title %}Meres{% endblock %}

{% block body %}
    <h1>Meres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mere.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ mere.fullname }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ mere.createdAt ? mere.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ mere.updatedAt ? mere.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ mere.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_meres_index') }}">back to list</a>

    <a href="{{ path('app_meres_edit', {'id': mere.id}) }}">edit</a>

    {{ include('meres/_delete_form.html.twig') }}
{% endblock %}
