{% extends 'base.html.twig' %}

{% block title %}Cercles index{% endblock %}

{% block body %}
    <h1>Cercles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cercle in cercles %}
            <tr>
                <td>{{ cercle.id }}</td>
                <td>{{ cercle.designation }}</td>
                <td>{{ cercle.createdAt ? cercle.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cercle.updatedAt ? cercle.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cercle.slug }}</td>
                <td>
                    <a href="{{ path('app_cercles_show', {'id': cercle.id}) }}">show</a>
                    <a href="{{ path('app_cercles_edit', {'id': cercle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cercles_new') }}">Create new</a>
{% endblock %}
