{% extends 'base.html.twig' %}

{% block title %}FraisType index{% endblock %}

{% block body %}
    <h1>FraisType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Periode</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for frais_type in frais_types %}
            <tr>
                <td>{{ frais_type.id }}</td>
                <td>{{ frais_type.periode }}</td>
                <td>{{ frais_type.createdAt ? frais_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ frais_type.updatedAt ? frais_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_frais_type_show', {'id': frais_type.id}) }}">show</a>
                    <a href="{{ path('app_frais_type_edit', {'id': frais_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_frais_type_new') }}">Create new</a>
{% endblock %}
