{% extends 'base.html.twig' %}

{% block title %}Etablissements{% endblock %}

{% block body %}
    <h1>Etablissements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etablissement.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ etablissement.designation }}</td>
            </tr>
            <tr>
                <th>FormeJuridique</th>
                <td>{{ etablissement.formeJuridique }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ etablissement.adresse }}</td>
            </tr>
            <tr>
                <th>NumDecisionCreation</th>
                <td>{{ etablissement.numDecisionCreation }}</td>
            </tr>
            <tr>
                <th>NumDecisionOuverture</th>
                <td>{{ etablissement.numDecisionOuverture }}</td>
            </tr>
            <tr>
                <th>DateOuverture</th>
                <td>{{ etablissement.dateOuverture ? etablissement.dateOuverture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumSocial</th>
                <td>{{ etablissement.numSocial }}</td>
            </tr>
            <tr>
                <th>NumFiscal</th>
                <td>{{ etablissement.numFiscal }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etablissement.telephone }}</td>
            </tr>
            <tr>
                <th>TelephoneMobile</th>
                <td>{{ etablissement.telephoneMobile }}</td>
            </tr>
            <tr>
                <th>CpteBancaire</th>
                <td>{{ etablissement.cpteBancaire }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etablissement.email }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ etablissement.createdAt ? etablissement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ etablissement.updatedAt ? etablissement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ etablissement.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etablissements_index') }}">back to list</a>

    <a href="{{ path('app_etablissements_edit', {'id': etablissement.id}) }}">edit</a>

    {{ include('etablissements/_delete_form.html.twig') }}
{% endblock %}
