{% extends 'base.html.twig' %}

{% block title %}AnneeScolaires{% endblock %}

{% block body %}
    <h1>AnneeScolaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annee_scolaire.id }}</td>
            </tr>
            <tr>
                <th>AnneeDebut</th>
                <td>{{ annee_scolaire.anneeDebut }}</td>
            </tr>
            <tr>
                <th>AnneeFin</th>
                <td>{{ annee_scolaire.anneeFin }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ annee_scolaire.createdAt ? annee_scolaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ annee_scolaire.updatedAt ? annee_scolaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annee_scolaires_index') }}">back to list</a>

    <a href="{{ path('app_annee_scolaires_edit', {'id': annee_scolaire.id}) }}">edit</a>

    {{ include('annee_scolaires/_delete_form.html.twig') }}
{% endblock %}
